<div class="card content">
  <ng-container *ngIf="post">
    <div class="post-content">
      <div class="titles">
        <h2 class="title">
          Detail Post: {{ post.id }}
          <span>userid:{{ post.userId }}</span>
        </h2>
        <h1 class="title">
          {{ post.title }}
        </h1>
      </div>
      <ng-container *ngIf="dateLastComment">
        <div class="last-comment">
          <p>
            Last comment: {{ dateLastComment }}
          </p>
        </div>
      </ng-container>
    </div>
    <div class="body-content">
      <h4 class="body-title">Body</h4>
      <p class="body-text">
        {{ post.body }}
      </p>
    </div>
    <p-divider></p-divider>
    <app-comments (lastComment)="getLastComment($event)" [postId]="idPost"></app-comments>
    <p-divider></p-divider>
    <app-new-comment [postId]="idPost"></app-new-comment>
  </ng-container>
</div>
