<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="redirectTo('/posts')"><img src="../../../assets/img/moby.png" alt="moby digital" height="25"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
      </div>
      <div class="d-flex">
        <ng-container *ngIf="islogged;else notLogin">
          <button class="btn btn-outline-danger" type="button" (click)="logOut()">LogOut</button>
        </ng-container>
        <ng-template #notLogin>
          <button class="btn btn-outline-success" type="button" (click)="redirectTo('/login')">LogIn</button>
        </ng-template>
      </div>
    </div>
  </div>
</nav>